body{
	background:red;
}
.my-card{
	padding:20px;
	background:#ffffff;
}
#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 700px;
  height: 400px;
  border: 1px solid #9C9C9C;
  background-color: white;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 30px;
}

.text-right {
	float:right;
}